<template name="header">
	<header class="navbar">
		<div class="navbar-inner">
			<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="{{pathFor 'devicesList'}}">
					<img src="/Safe-icon.png" width="25" height="25">
					Device Safe
			</a>
	
			<div class="nav-collapse collapse" width=100%>
				<ul class="nav navbar-nav navbar-right">
					{{#if currentUser}}
						<li> <a href="{{pathFor 'deviceNew'}}">Add a Device</a> </li>
					{{/if}}
					<li>{{loginButtons align="right"}}</li>
				</ul>
			</div>
			</div>
		</div>
	</header>
</template>