<template name="header"> 

	<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      	<div class="navbar-header">
      			<button type="button" id="btnRespNav" class="btn-navbar navbar-toggle slideout-menu-toggle pull-left" data-toggle="collapse" data-target="#login-navbar-collapse">
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href="{{pathFor 'devicesList'}}">
      				<img src="/Safe-icon.png" width="25" height="25">
      				Device Safe
      			</a>
            <ul class="align-right">
              <li>{{> accountButtons align="right"}}</li>
            </ul>    
        </div>

        {{> sliderMenu}}

        <!--
  			<div class="navbar-collapse collapse" id="login-navbar-collapse">
          <ul class="nav navbar-nav">
             {{#if currentUser}}
                <li> 
                    <a href="{{pathFor 'deviceNew'}}">Add a Device</a> 
                 </li>
             {{/if}}                 
          </ul>
  				<ul class="nav navbar-nav navbar-right">
            <li>{{> accountButtons}}</li>
  			  </ul>
  			</div>
        -->
      </div>
	</nav>
</template>

<template name="sliderMenu">
  <div class="slideout-menu">
    <h3>Menu <a href="#" class="slideout-menu-toggle">×</a></h3>
    <ul>
      <li> 
        <a href="{{pathFor 'deviceNew'}}">Add a Device</a> 
     </li>
      <li><a href="#">Home <i class="fa fa-angle-right"></i></a></li>
      <li><a href="#">Tour Information <i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>
  <!--/.slideout-menu-->
</template>
