<template name="checkout">
	<div class="checkouts">
		<ul>
			<li>
					<span class="checkout-detail">Checked out by </span> 
					<span class="checkout-big">
						{{ userName }} 	.. 
					</span> 
					<span>
						  {{ checkoutDate }} with a reason: 
					</span>
					<span class="checkout-big">
						{{comments}}
					</span>
			</li>
			{{#if checkedinFlag}}
				<li class="checkin-detail">
					<h6>Checked In by: {{ userName }} ..  
						{{ checkinDateTxt }} 
					</h6>
				</li>
			{{/if}}
	</div>
</template>