.grid-block, .main, .post,  .checkout-form {
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}

body {
  background: #eee;
  color: #666666; 
}

.navbar {
  margin-bottom: 1px; 
}

/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px; 
}

#spinner {
  height: 300px; 
}

.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  -webkit-transition: all 300ms 0ms;
  -webkit-transition-delay: ease-in;
  -moz-transition: all 300ms 0ms ease-in;
  -o-transition: all 300ms 0ms ease-in;
  transition: all 300ms 0ms ease-in;
  position: relative;
  opacity: 1; 
}

.post:before, .post:after {
  content: "";
  display: table; 
}

.post:after {
  clear: both; 
}
.post.invisible {
  opacity: 0; 
}
.post .upvote {
  display: block;
  margin: 7px 12px 0 0;
  float: left; 
}
.post .post-content {
  float: left; 
}
.post .post-content h3 {
  margin: 0;
  line-height: 1.4;
  font-size: 18px; 
}
.post .post-content h3 a {
  display: inline-block;
  margin-right: 5px; 
}
.post .post-content h3 span {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  color: #aaaaaa; 
}
.post .post-content p {
  margin: 0; 
}

.post .details {
  display: block;
  float: right;
  margin-top: 7px; 
}

.checkouts {
  list-style-type: none;
  margin: 0; 
}
.checkouts li h4 {
  font-size: 16px;
  margin: 0; 
}
.checkouts li h4 .date {
  font-size: 12px;
  font-weight: normal; 
}
.checkouts li h4 a {
  font-size: 12px; 
}
.checkouts li p:last-child {
  margin-bottom: 0; 
}

.checkin-detail{
  color: #008080;
  margin-left: 50px;
}
.checkin-detail h6
{
  white-space: nowrap;
  display: inline;    
}

.checkout-detail{
  white-space: nowrap;
  display: inline;
}
.checkout-big{
  font-size: 18px;
}

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; 
}

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; 
}
.load-more:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1); 
}

.btn-custom-lima {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}














