<template name="deviceItem">
	<div id="deviceItemDiv" class="post">
		<div class="post-content">
			<h3>{{name}}
				<span>{{os}}</span>
				<span> owner:{{owner}}</span>

			</h3>
			{{#if createdByName}}
				<span>created by: {{createdByName}}
				</span>
			{{/if}}
			{{#if modifiedByName}}
				<span>modified by: {{modifiedByName}}
				</span>
			{{/if}}
		</div>

		<div class="btn-group btn-group-sm pull-right">
			{{#if checkedout}}
				<a href="" class="btn checkin btn-custom-lima">
  					<span class="glyphicon glyphicon-check"></span> Checkin </a>
  			{{else}}
  				<a href="" class="btn checkout">
  					<span class="glyphicon glyphicon-check"></span> Checkout </a>
  			{{/if}}
			<a href="{{pathFor 'deviceDetails'}}" class="btn"> 
				<span class="glyphicon glyphicon-th-list"></span> Details </a>
			<a href="{{pathFor 'deviceEdit'}}" class="btn">
  				<span class="glyphicon glyphicon-edit"></span> Edit </a>	
			<a href="#" class="btn delete">
  				<span class="glyphicon glyphicon-trash"></span> </a>	
		</div>
	</div>
</template>