<template name="deviceEdit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="name">Name</label> 
			<div class="controls">
				<input name="name" type="text" value="{{ name }}" placeholder="Give a descriptive name"/> 
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="OS">Operating System</label> 
			<div class="controls">
				<input name="os" type="text" value="{{ os }}" placeholder="iOS-7, Android 4.3.3"/>
			</div>
			<div class="control-group">
				<label class="control-label" for="owner">Owner</label> 
				<div class="controls">
					<input name="owner" value="{{ owner }}" type="text" placeholder="QA, Dev, etc"/> 
				</div>
			</div>
			<div class="control-group"> 
				<div class="controls">
					<input type="submit" value="Submit" class="btn btn-primary"/> 
				</div>
			</div> 
		</div>
	</form>
</template>